<br>

<div class="row">

  <div class="medium-7 large-6 columns">
    <h1>Learning English with AI</h1>
    <p class="subheader">We use English to teach AI, now it's time to use AI to learn English.</p>
    <p class="subheader">We use statistical analysis and artifricial intelegince for effective learning, we
    want to get you up to speed with customized lessons for your needs.</p>
    <p class="subheader">We have tested methods to get you from zero to hero in six months, guaranteed.</p>
    <button class="button">Take a Tour</button>
  </div>

  <div class="show-for-large large-3 columns">
    <img src="https://placehold.co/400x370" alt="picture of robot">
  </div>

  <div class="medium-5 large-3 columns">
    <div class="callout secondary">
      <form>
        <div class="row">
          <div class="small-12 columns">
            <label>Find Your Teacher Near You
              <input type="text" placeholder="Search destinations">
            </label>
            <button type="submit" class="button">Search Now!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="row column">
  <hr>
</div>

<div class="row column">
  <p class="lead">Text Analysis</p>
</div>

<div class="row" id="content">
  <div class="medium-10 columns">
    <textarea [(ngModel)]="src" (ngModelChange)="onChangeText(mysrc)" #mysrc id="source">
    </textarea>
    <span *ngIf="src" class="" (click)="onClear()">
      clear
    </span>
  </div>
  <div class="medium-2 columns sticky-container" data-sticky-container>
    <div class="sticky button-group" data-sticky data-anchor="content">
      <a class="column button" [class.active]="selectedType === 'bpe'" (click)="onSelectType('bpe')">BPE Frequency</a>
      <a class="column button" [class.active]="selectedType === 'word'" (click)="onSelectType('word')">Word Frequency</a>
      <a class="column button" [class.active]="selectedType === 'named'" (click)="onSelectType('named')">Named Entity</a>
      <a class="column button" [class.active]="selectedType === 'pos'" (click)="onSelectType('pos')">Part of Speech</a>
      <a class="column button" [class.active]="selectedType === 'summ'" (click)="onSelectType('summ')">Summary</a>
    </div>
  </div>
</div>
